<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
        <title>Lúcida Mail</title>
    </head>
    <body>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td style="text-align: center; padding: 20px;">
            <img src="http://cursos.estacio.br/img/logo-estacio-horizontal.png" />
        </td>
    </tr>
    <tr>
        <td style="padding: 13px; font-family: 'effra',sans-serif; font-size: 16px; color:#fff; text-align: center;" bgcolor="#999">
            {{title}}
        </td>
    </tr>
    <tr>
        <td style="padding: 40px 50px 50px 50px; font-family: 'effra',sans-serif; font-size: 14px; color:#474848; border: 1px solid #f2f2f2;" bgcolor="#f2f2f2">
            <table align="center" cellspacing="0" style="width: 500px; font-size: 24px; color:#666;">
                <tr>
                    <td align="center"><strong>Visitas</strong></td>
                </tr>
            </table>
            <table align="center" cellspacing="0" style="width: 500px; font-size: 14px; color:#666; padding-top: 20px;">
            <tr>
                <td style="padding-bottom: 10px; text-align: center;"><i>Data</i></td>
                <td style="padding-bottom: 10px; text-align: center;"><i>cursos.estacio</i></td>
                <td style="padding-bottom: 10px; text-align: center;"><i>inscricoes.estacio</i></td>
            </tr>

            {{#each table1}}

                {{#if maior_valor}}
                <tr>
                    <td style="padding: 5px;border: 1px solid #ccc; text-align: center;">{{data}}</td>
                    <td style="padding: 5px;border: 1px solid #ccc; text-align: center; color: green; font-weight: bold;">{{visitas_curso_estacio}}</td>
                    <td style="padding: 5px;border: 1px solid #ccc; text-align: center;">{{visitas_inscricoes_estacio}}</td>
                </tr>
                {{else}}
                <tr>
                    <td style="padding: 5px;border: 1px solid #ccc; text-align: center;">{{data}}</td>
                    <td style="padding: 5px;border: 1px solid #ccc; text-align: center;">{{visitas_curso_estacio}}</td>
                    <td style="padding: 5px;border: 1px solid #ccc; text-align: center; color: green; font-weight: bold;">{{visitas_inscricoes_estacio}}</td>
                </tr>
                {{/if}}

            {{else}}
                <!-- <span style="color:red">não funfou o each =/</span> -->
            {{/each}}

            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align: center; padding: 50px; font-family: 'effra',sans-serif; font-size: 13px; color:#474848; border: 1px solid #f2f2f2;">
            <table align="center" cellspacing="0" style="width: 500px; font-size: 24px; color:#666;">
                <tr>
                    <td align="center"><strong>Inscrições</strong></td>
                </tr>
            </table>
            <table align="center" cellspacing="0" style="width: 500px; font-size: 14px; color:#666; padding-top: 20px;">
            <tr>
                <td style="padding-bottom: 10px; text-align: center;"><i>Data</i></td>
                <td style="padding-bottom: 10px; text-align: center;"><i>cursos.estacio</i></td>
                <td style="padding-bottom: 10px; text-align: center;"><i>incricoes.estacio</i></td>
            </tr>

            {{#each table2}}

                {{#if maior_valor}}
                <tr>
                    <td style="padding: 5px;border: 1px solid #ccc; text-align: center;">{{data}}</td>
                    <td style="padding: 5px;border: 1px solid #ccc; text-align: center; color: green; font-weight: bold;">{{inscricoes_cursos_estacio}}</td>
                    <td style="padding: 5px;border: 1px solid #ccc; text-align: center;">{{inscricoes_inscricoes_estacio}}</td>
                </tr>
                {{else}}
                <tr>
                    <td style="padding: 5px;border: 1px solid #ccc; text-align: center;">{{data}}</td>
                    <td style="padding: 5px;border: 1px solid #ccc; text-align: center;">{{inscricoes_cursos_estacio}}</td>
                    <td style="padding: 5px;border: 1px solid #ccc; text-align: center; color: green; font-weight: bold;">{{inscricoes_inscricoes_estacio}}</td>
                </tr>
                {{/if}}

            {{else}}
                <!-- <span style="color:red">não funfou o each =/</span> -->
            {{/each}}

            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 50px; font-family: 'effra',sans-serif; font-size: 14px; color:#474848; border: 1px solid #f2f2f2;" bgcolor="#f2f2f2">
            <table align="center" cellspacing="0" style="width: 500px; font-size: 24px; color:#666;">
                <tr>
                    <td align="center"><strong>Taxa de Inscrição</strong></td>
                </tr>
            </table>
            <table align="center" cellspacing="0" style="width: 500px; font-size: 14px; color:#666; padding-top: 20px;">
            <tr>
                <td style="padding-bottom: 10px; text-align: center;"><i>cursos.estacio</i></td>
                <td style="padding-bottom: 10px; text-align: center;"><i>incricoes.estacio</i></td>
                <td style="padding-bottom: 10px; text-align: center;"></td>
            </tr>

            {{#each table3}}

                {{#if maior_valor}}
                <tr>
                    <td style="padding: 5px;border: 1px solid #ccc; text-align: center;">{{tx_insc_cursos_estacio}}</td>
                    <td style="padding: 5px;border: 1px solid #ccc; text-align: center; color: green; font-weight: bold;">{{tx_insc_inscricoes_estacio}}</td>
                    <td style="padding: 5px;border: 1px solid #ccc; text-align: center; color: #999;">{{tx_insc_diferenca}}</td>
                </tr>
                {{else}}
                <tr>

                <td style="padding: 5px;border: 1px solid #ccc; text-align: center; color: green; font-weight: bold;">{{tx_insc_cursos_estacio}}</td>
                    <td style="padding: 5px;border: 1px solid #ccc; text-align: center;">{{tx_insc_inscricoes_estacio}}</td>
                    <td style="padding: 5px;border: 1px solid #ccc; text-align: center; color: #999;">{{tx_insc_diferenca}}</td>
                </tr>
                {{/if}}

            {{else}}
                <!-- <span style="color:red">não funfou o each =/</span> -->
            {{/each}}

            <!--tr>
                <td style="padding: 5px;border: 1px solid #ccc; text-align: center; color: green; font-weight: bold;">2.97%</td>
                <td style="padding: 5px;border: 1px solid #ccc; text-align: center;">2.38%</td>
                <td style="padding: 5px;border: 1px solid #ccc; text-align: center; color: #999;">-19.78%</td>
            </tr>
            <tr>
                <td style="padding: 5px; background: #ccc; text-align: center;">11-Jul</td>
                <td style="padding: 5px; background: #ccc; text-align: center;">34,951</td>
                <td style="padding: 5px; background: #ccc; text-align: center;">3,176</td>
            </tr>
            <tr>
                <td style="padding: 5px;border: 1px solid #ccc; text-align: center;">10-Jul</td>
                <td style="padding: 5px;border: 1px solid #ccc; text-align: center;">49,334</td>
                <td style="padding: 5px;border: 1px solid #ccc; text-align: center;">4,792</td>
            </tr>
            <tr>
                <td style="padding: 5px; background: #ccc; text-align: center;">11-Jul</td>
                <td style="padding: 5px; background: #ccc; text-align: center;">34,951</td>
                <td style="padding: 5px; background: #ccc; text-align: center;">3,176</td>
            </tr>
            <tr>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td style="text-align:center; padding: 10px; font-size: 17px;"><strong>3.23%</strong></td>
                <td style="text-align:center; padding: 10px; font-size: 17px;"><strong>3.22%</strong></td>
                <td style="text-align:center; padding: 10px; font-size: 17px;"><strong>-0.43%</strong></td>
            </tr-->
            </table>
        </td>
    </tr>
    <tr>
        <td align="right" bgcolor="#999" style="padding: 10px;"><a href="http://lucida.com.br" target="_blank" title="M&eacute;tricas que fazem sentido"><img src="http://lucida-brasil.github.io/public/Images/lucida-logo.png" alt="Lúcida" width="12%" border="0"></a></td>
    </tr>
</table>
</body>
</html>
